<div class="col-sm-6">
  <img src="images/teaching.png" alt="">
</div>
<div class="col-sm-6">
  <h1>概要</h1>
  <p>このシステムはMVCを用いた簡易なスクール管理システムです。</p>
  <p>システム :  Node.js/Express,MongoDB</p>
  <p>DBにはmongoose,viewsにはejs,チャット機能にはsocket.ioを使用</p>
  <p>チャットの動作確認にはお手数ですがログインが必要です</p>
</div>
