<div class="data-form">
  <form class="form-signin" action="/students/create" method="POST">
    <h2 class="form-signin-heading">新規登録　生徒:</h2>
    <label for="inputName">名前</label>
    <input type="text" name="name" id="inputName" class="form-control"  placeholder="名前" autofocus>
    <label for="inputEmail">Eメール</label>
    <input type="email" name="email" id="inputEmail" class="form-control"  placeholder="Eメール" required>
    <label for="inputZipCode">電話番号</label>
    <input type="text" name="tell" id="inputTellCode"  class="form-control"  placeholder="電話番号" required>
    <label for="inputTown">住所</label>
    <input type="text" name="town" id="inputTown" class="form-control"  placeholder="住所" required>
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
  </form>
</div>
