<form class="form-signin" action="/users/login" method="POST">
    <h2 class="form-signin-heading">ログインする<a class="demo">(デモ用 Email:demo@demo.com パスワード: demopass )</a>:</h2>
    <label for="inputEmail" class="sr-only">Eメール</label>
    <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Eメール" autofocus required>
    <label for="inputPassword" class="sr-only">パスワード</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="パスワード" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">ログインする</button>
  </form>