<div class="data-form">
  <form class="form-signin" action="/users/create" method="POST">
    <h2 class="form-signin-heading">新規作成 先生:</h2>
    <label for="inputLastName">苗字</label>
    <input type="text" name="last" id="inputLastName" class="form-control" placeholder="苗字">
    <label for="inputFirstName">名前</label>
    <input type="text" name="first" id="inputFirstName" class="form-control" placeholder="名前" autofocus>
    <label for="inputPassword">パスワード</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="パスワード" required>
    <label for="inputEmail">Eメール</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Eメール" required>
    <label for="inputTell">電話番号</label>
    <input type="text" name="tell" id="inputTellCode" class="form-control" placeholder="電話番号" required>
    <label for="inputTell">担当コース</label>
    <input type="text" name="teach" id="inputTeachCode" class="form-control" placeholder="担当コース" required>
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
  </form>
</div>
